<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishFlavorMapper">
    <insert id="insertBatch">
        insert into dish_flavor (dish_id, name, value) values
        <foreach collection="flavors" item="item" separator=",">
            (#{item.dishId},
             #{item.name},
             #{item.value}
             )
        </foreach>
    </insert>

    <delete id="deleteByDishIds">
        DELETE FROM dish_flavor WHERE dish_id IN
        <foreach collection="list" item="dishId" open="(" separator="," close=")">
            #{dishId}
        </foreach>
    </delete>

    <select id="getByDishId" resultType="com.sky.entity.DishFlavor">
        select * from dish_flavor
        <where>
            <if test="dishId != null">
                and dish_id = #{dishId}
            </if>
        </where>
    </select>

    <delete id="deleteByDishId">
        DELETE FROM dish_flavor
        <where>
            dish_id = #{dishId}
        </where>
    </delete>

</mapper>